<h1> Heracles Money Formatter </h1>

<p> Heracles is a web app that converts money into a string format. Key in an amount of money and Heracles will format the amount and display it back to you.</p>
<% if flash.has?(:message) %> 
  <p id="error_banner" style="color:#f0ad4e;"><%= flash[:message] %> </p> 
<% end %> 

<form action="/api/v1/formatAmount" method="post">

  <label>Enter Money: <input type="text" id="money" name="amount"></label>
  <input type="submit"  id="submit" value="Submit">
</form>
<p id="format">Formatted Amount: <%= @formatted_amount %></p>
