<h1> Heracles Money Formatter </h1>

<p> Heracles is a web app that converts money into a string format. Key in an amount of money and Heracles will format the amount and display it back to you.</p>
<% if flash.has?(:message) %> 
  <p style="color:#f0ad4e;"><%= flash[:message] %> </p> 
<% end %> 

<form action="/format" method="post">
  <label>Enter Money: <input type="text" name="amount"></label>
  <input type="submit" value="Submit">
</form>
<p>Formatted Amount: <%= @formatted_amount %></p>
