<h1> Heracles Money Formatter </h1>
<p> Heracles is a web app that converts money into a string format. Key in the amount of money and Heracles will format the amount and display it back to you.</p>
<form action="/api/v1/formatAmount" method="post">
  <label>Enter Money: <input type="text" name="amount"></label>
  <input type="submit" value="Submit">
</form>
<p>Formatted Amount:</p>